<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        
        <form action='/amadon/clear/' method='post'>
            {% csrf_token %}
            <input type='submit' value='clear session' />
        </form>
    <table border = 1>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>shirt</td><td>$10</td>
            <td>
                <form action='/amadon/buy/' method='post'>
                    {% csrf_token %}
                    <select name="choice">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                    </select>
                    <input type='hidden' name='price' value=10 />
                    <input type='submit' value='Buy!' />
                </form>
            </td>
        </tr>
        <tr>
            <td>sweater</td><td>$20</td>
            <td>
                <form action='/amadon/buy/' method='post'>
                    {% csrf_token %}
                    <select name="choice">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                    </select>
                    <input type='hidden' name='price' value=20 />
                    <input type='submit' value='Buy!' />
                </form>
            </td>
        </tr>
        <tr>
            <td>cup</td><td>$30</td>
            <td>formhere</td>
        </tr>
        <TR>
            <td>book</td><td>$40</td>
            <td>formhere</td>
        </tr>
    </table>
</body>
</html>